################################################
# Local Configuration
################################################

config/local.*

################################################
# Dependencies
################################################

node_modules
bower_components

################################################
# Sails.js / Waterline / Grunt
################################################

.tmp
dump.rdb

################################################
# Node.js / NPM
################################################

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

################################################
# Miscellaneous
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
.npmrc
lib
